<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs Infisical - Get secrets with Go SDK - Demo Devoxx FR</title>
    <meta http-equiv="refresh" content="{{if .StopRefresh}}{{else}}1{{end}}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Logs Infisical - Get secrets with Go SDK</h1>
        <h3 class="text-center">Demo Devoxx France 2025 - Tool In Action</h3>
        <div class="text-center mb-3">
            <form action="/clear" method="post" class="d-inline">
                <button type="submit" class="btn btn-primary">Clear Logs</button>
            </form>
            <form action="/stop" method="post" class="d-inline ml-2">
                <button type="submit" class="btn btn-danger">Stop Refresh</button>
            </form>
        </div>
        <div class="card">
            <div class="card-body">
                <pre class="mb-0">{{range .Logs}}{{.}}<br>{{end}}</pre>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
